<div class="p-d-flex p-jc-center">
  <div class="p-mb-4 p-lg-4 p-mb-lg-3">
    <p-card>
      <ng-template pTemplate="header">
        Header content here
      </ng-template>
     {{ global$ |async|json}}
      <ng-template pTemplate="footer">
        Footer content here
      </ng-template>
    </p-card>
  </div>
  <div class="p-mb-4 p-lg-4 p-mb-lg-3">
    <p-card>
      <ng-template pTemplate="header">
        Header content here
      </ng-template>
      {{ countries$ |async|json}}
      <ng-template pTemplate="footer">
        Footer content here
      </ng-template>
    </p-card>
  </div>
  <div class="p-mb-2 p-lg-4 p-mb-lg-3">
    <p-card>
      <ng-template pTemplate="header">
        Header content here
      </ng-template>
      Body Content
      <ng-template pTemplate="footer">
        Footer content here
      </ng-template>
    </p-card>
  </div>
</div>
